body {
    margin: 0 0 100px; /* bottom = footer height */
}

hr {
    clear: both;
}

#flash_message {
    width: 500px;
    margin: auto auto 25px auto;
    list-style-type: none;
    font-size: larger;
    border-radius: 5px;
    padding: 200px auto 200px auto;
}

#footer {
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    min-width: 900px;
    background: #f0f0f5;
}

html {
    position: relative;
    min-height: 100%;
}

#logo {
    background-image: url(/static/logo.png);
    background-size: 100% 100%;
    margin-bottom: 30px;
    height: 100px;
    width: 20%;
    float: left;
}

#main_navigation {
    padding-top: 20px;
    margin-bottom: 40px;
}

#main_navigation a {
    font-size: 150%;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: black;
    width: 150px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: 900px;
    overflow: auto;
}

#side_navigation {
    padding-right: 20px;
    width: 30%;
    border-right: solid;
    border-color: grey;
    float: left;
    overflow: hidden;
}

#content {
    text-align: center;
    margin-left: 35%;
    width: 60%;
}

#validation_form * {
    margin: auto;
}

#validation_form input[type="text"] {
    width: 150px;
    text-align: center;
}

#validation_form select {
    display: block;
    margin-bottom: 25px;
}

#validation_form input {
    display: block;
    margin-bottom: 25px;
}

#validation_form input[type="checkbox"] {
    display: inline;
}

#validation_form button {
    width: 150px;
    height: 30px;
    display: block;
}

#validation_form table {
    border-collapse: collapse;
    margin-bottom: 25px;
}

#validation_form table td {
    padding: 5px;
    border: 1px solid black;
}