{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/help.css') }}">
{% endblock %}
{% block content %}
    <h2>Validator Help</h2>
    <p>The HED Validator is an online-tool designed to make validation of HED tags easy. To start, put your HED tags in
        either an Excel file or a tab-separated text file. (Example files can be found here.) Once you have a file, you
        are ready to begin the validation.</p>
    <h3>Step 1: Specify the file to be validated</h3>
    <p>Indicate the name of the file to validate, using the Browse button to navigate in your file system:</p>
    <img src="{{ url_for('static', filename='img/select_spreadsheet.png') }}">
    <h3>Step 2: Define the locations of the HED tags in your file.</h3>
    <p>After you have selected a file, HED Validator will try to automatically fill in the remaining information into
        its form based on the contents of your file. In the following example, the file EmotionEventInformation.xlsx was
        selected. If a spreadsheet has multiple worksheets, HED Validator selects the first one by default
        (ImaginedEmotion), but provides a drop down for you to select a different one. </p>
    <img src="{{ url_for('static', filename='img/define_hed_tags.png') }}">
    <p>By default, HED Validator assumes that the first row gives the names of the columns and uses these names to guess
        which columns correspond to special tags such as Event/Category or Event/Label. In the above example the HED
        Validator has guessed that the the second column (entitled Category) holds the Event/Category tag. The Validator
        was also able to correctly guess the Event/Label and Event/Description columns.</p>
{% endblock %}