<!doctype html>
<html>
<head>
	{% block head %}
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<title>{% block title %}{% endblock %} HEDTools </title>
	{% endblock %}
</head>
<body>
<div id="main">
	<div id="title">
		<h1>HEDTools</h1>
		<h3>By VML</h3>
	</div>
	<div id="main_navigation">
		<nav>
			<a href="/">Validation</a> |
			<a href="http://www.hedtags.org">HED</a> |
			<a href="http://visual.cs.utsa.edu/contact-info">Contact Us</a>
		</nav>
	</div>
	<div id="logo">
		{% block logo %}
		{% endblock %}
	</div>
	<div id="page_title">
		{% block page_title %}
		{% endblock %}
		<hr>
		<div id="middle">
		<div id=side_navigation>
			{% block side_navigation %}
			{% endblock %}
		</div>
		<div id="content">
			<p id="flash_message"></p>
			{% block content %}
			{% endblock %}
		</div>
	</div>
	<div id="footer">
		{% block footer %}
            <p><a href="https://github.com/BigEEGConsortium/HED-schema">
                Hierarchical Event Descriptor (HED) Tags and related tools</a> are maintained by
                <a href="https://github.com/BigEEGConsortium">BigEEGConsortium</a>.</p>
		{% endblock %}
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</body>
</html>