{% macro create_validation_form(form) %}
    {% from "formhelpers.html" import render_field %}
    <form id="validation-form" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <div class="form-group">
            <p id="spreadsheet-flash"></p>
            <label for="spreadsheet">1) Select spreadsheet:</label><br>
            <label class="btn-group file-browse-group">
                <button for="spreadsheet">Browse ...</button>
                <label id="spreadsheet-filename"></label>
                <input type="file" name="spreadsheet" id="spreadsheet"/>
            </label>
        </div>

        <div class="form-group">
            <p id="worksheet-flash"></p>
            <label for="worksheet">2) Choose a worksheet (for workbooks):</label><br>
            <select name="worksheet" id="worksheet"></select>
        </div>

        <div class="form-group" id="column-names">
            <label for="columns-names-table">Column names</label>
            <table id="columns-names-table"></table>
        </div>

        <div class="form-group">
            <p id="tag-columns-flash"></p>
            <label for="tag-columns">3) Select tag columns (comma-separated):</label><br>
            <input type="text" name="tag-columns" id="tag-columns">
        </div>

        <div class="form-group">
            <label>4) Specify columns corresponding to required tags:</label><br>
            <div class="textbox-group">
                <label for="category-column">Category</label>
                <input type="text" name="category-column" id="category-column">
                <label for="description-column">Description</label>
                <input type="text" name="description-column" id="description-column">
                <label for="label-column">Label</label>
                <input type="text" name="label-column" id="label-column">
            </div>
        </div>

        {#        <div class="form-group">#}
        {#            <label for="hed-version">5) Choose HED version:</label><br>#}
        {#            <select name="hed-version" id="hed-version"></select><br>#}
        {#        </div>#}

        {#        <div class="form-group" id="other-hed-version">#}
        {#            <label for="spreadsheet">Other HED version</label><br>#}
        {#            <input type="file" name="spreadsheet" id="spreadsheet">#}
        {#        </div>#}

        <div class="form-group">
            <label>5) Specify additional options:</label><br>
            <div class="checkbox-group">
                <input type="checkbox" name="has-column-names" id="has-column-names">
                <label for="has-column-names">Spreadsheet has column names</label>
                <input type="checkbox" name="generate-warnings" id="generate-warnings">
                <label for="generate-warnings">Include warnings in output file</label>
            </div>
        </div>

        <div class="form-group">
            <button id="submit" type="button">Submit</button>
            <p id="submit-flash"></p>
        </div>
    </form>

    <script>
        const EXCEL_FILE_EXTENSIONS = ['xlsx', 'xls'];
        const TEXT_FILE_EXTENSIONS = ['tsv', 'csv', 'txt'];
        $(document).ready(function () {
            resetForm();
            hideSpreadsheetColumnNamesTable();
            hideOtherHEDVersion();
            populateHEDVersionsDropdown();
        });


        function populateHEDVersionsDropdown() {
            var hedVersionDropdown = $('#hed-version');
            hedVersionDropdown.append('<option value=6.0.5>6.0.5</option>');
            hedVersionDropdown.append('<option value=5.2.3>5.2.3</option>');
            hedVersionDropdown.append('<option value=4.0.5>4.0.5</option>');
            hedVersionDropdown.append('<option value="Other">Other</option>');
        }

        $('#hed-version').change(function () {
            if ($(this).val() == 'Other') {
                $('#other-hed-version').show();
            } else {
                $('#other-hed-version').hide();
            }
        });

        /**
         * Checks if the file uploaded has a valid spreadsheet extension. Additional options will be shown if it does.
         */
        $('#spreadsheet').change(function () {
            var spreadsheet = $('#spreadsheet');
            var spreadsheetPath = spreadsheet.val();
            var spreadsheetFile = spreadsheet[0].files[0];
            resetFlashMessages(true);
            if (cancelWasPressedInChromeFileUpload(spreadsheetPath)) {
                resetForm();
            }
            else if (fileHasValidExtension(spreadsheetPath, EXCEL_FILE_EXTENSIONS)) {
                updateSpreadsheetFileLabel(spreadsheetPath);
                getWorksheetsInfo(spreadsheetFile);
            }
            else if (fileHasValidExtension(spreadsheetPath, TEXT_FILE_EXTENSIONS)) {
                updateSpreadsheetFileLabel(spreadsheetPath);
                clearWorksheetSelectbox();
                getSpreadsheetColumnsInfo(spreadsheetFile);
            } else {
                resetForm();
                flashInvalidExcelExtensionMessage();
            }
        });

        function updateSpreadsheetFileLabel(spreadsheetPath) {
            var spreadsheetFilename = spreadsheetPath.split('\\').pop();
            $('#spreadsheet-filename').text(spreadsheetFilename);
        }

        /**
         * Flash message when Excel workbook file extension is invalid.
         */
        function flashInvalidExcelExtensionMessage() {
            flashMessageOnScreen('Please upload an excel or text spreadsheet (.xlsx, .xls, .tsv, .csv, .txt)',
                'error', 'spreadsheet-flash');
        }

        /**
         * Hides the flash messages that aren't related to the form submission.
         */
        function resetFlashMessages(hideSubmitFlash) {
            flashMessageOnScreen('', 'success', 'spreadsheet-flash');
            flashMessageOnScreen('', 'success', 'worksheet-flash');
            flashMessageOnScreen('', 'success', 'tag-columns-flash');
            if (hideSubmitFlash) {
                flashMessageOnScreen('', 'success', 'submit-flash');
            }
        }

        /**
         * Gets the information associated with the Excel worksheet that was newly selected. This information contains
         * the names of the columns and column indices that contain HED tags.
         */
        $('#worksheet').change(function () {
            var spreadsheetFile = $('#spreadsheet')[0].files[0];
            var worksheetName = $('#worksheet option:selected').text();
            getSpreadsheetColumnsInfo(spreadsheetFile, worksheetName);
        });

        /**
         * Clears the worksheet select box.
         */
        function clearWorksheetSelectbox() {
            $('#worksheet').empty();
        }

        /**
         * Clears the required tag column text boxes.
         */
        function clearRequiredTagColumnTextboxes() {
            $('.textbox-group input[type="text"]').val('');
        }

        /**
         * Flash a message on the screen.
         * @param {String} message - The message that will be flashed on the screen.
         * @param {String} category - The category of the message. The categories are 'error', 'success', and 'other'.
         */
        function flashMessageOnScreen(message, category, flashMessageElementId) {
            var flashMessage = document.getElementById(flashMessageElementId);
            flashMessage.innerHTML = message;
            setFlashMessageCategory(flashMessage, category);
        }

        /**
         * Flash a message on the screen.
         * @param {Object} flashMessage - The li element containing the flash message.
         * @param {String} category - The category of the message. The categories are 'error', 'success', and 'other'.
         */
        function setFlashMessageCategory(flashMessage, category) {
            if ("error" == category) {
                flashMessage.style.backgroundColor = 'lightcoral';
            } else if ("success" == category) {
                flashMessage.style.backgroundColor = 'palegreen';
            } else {
                flashMessage.style.backgroundColor = '#f0f0f5';
            }
        }

        /**
         * Checks to see if the user pressed cancel in chrome's file upload browser.
         * @param {String} filePath - A path to a file.
         * @returns {boolean} - True if the user selects cancel in chrome's file upload browser.
         */
        function cancelWasPressedInChromeFileUpload(filePath) {
            return isEmptyStr(filePath) && (window.chrome)
        }

        /**
         * Resets the fields in the form.
         */
        function resetForm() {
            $('#validation-form')[0].reset();
        }

        /**
         * Flash a submit message.
         * @param {Array} worksheetNames - An array containing the names of Excel workbook worksheets.
         */
        function flashSubmitMessage() {
            resetFlashMessages(false);
            flashMessageOnScreen('Worksheet is being validated ...', 'success', 'submit-flash')
        }

        /**
         * Submits the form if the tag columns textbox is valid.
         */
        $('#submit').click(function () {
            if (tagColumnsTextboxIsValid()) {
                submitForm();
            }
        });

        /**
         * Submit the form and return the validation results. If there are issues then they are returned in an attachment
         * file.
         */
        function submitForm() {
            var validationForm = document.getElementById("validation-form");
            var formData = new FormData(validationForm);
            flashSubmitMessage();
            $.ajax({
                    type: 'POST',
                    url: "{{url_for('validate_spreadsheet_from_form')}}",
                    data: formData,
                    contentType: false,
                    processData: false,
                    dataType: 'json',
                    success: function (validationStatus) {
                        if (checkRowIssueCount(validationStatus['rowIssueCount'])) {
                            window.location = '/download/' + validationStatus['downloadFile'];
                        } else {
                            window.location = '/delete/' + validationStatus['downloadFile'];
                        }
                    },
                    error: function () {
                        flashMessageOnScreen('Spreadsheet could not be processed', 'error',
                            'submit-flash');
                    }
                }
            )
            ;
        }

        /**
         * Check the number of row issues and flash it.
         * @param {Number} rowIssueCount - Number of row issues.
         * @returns {boolean} - True if there issues found. Number of row issues are greater than 0.
         */
        function checkRowIssueCount(rowIssueCount) {
            var issuesFound = false;
            if (rowIssueCount == 0) {
                flashMessageOnScreen('No issues were found.', 'success', 'submit-flash');
            } else {
                flashMessageOnScreen(rowIssueCount.toString() + ' rows have issues. Creating attachment.', 'error',
                    'submit-flash');
                issuesFound = true;
            }
            return issuesFound;
        }

        /**
         * Checks to see if the tag columns textbox has valid input. Valid input is an integer or a comma-separated list of
         * integers that are the column indices in a Excel worksheet that contain HED tags.
         * @returns {boolean} - True if the tags columns textbox is valid.
         */
        function tagColumnsTextboxIsValid() {
            var pattern = new RegExp('^([ \\d]+,)*[ \\d]+$');
            var valid = pattern.test($('#tag-columns').val());
            if (!valid) {
                flashMessageOnScreen('Tag column(s) must be a number or a comma-separated list of numbers', 'error',
                    'tag-columns-flash')
            }
            return valid;
        }

        /**
         * Checks to see if a string is empty. Empty meaning null or a length of zero.
         * @param {String} str - A string.
         * @returns {boolean} - True if the string is null or its length is 0.
         */
        function isEmptyStr(str) {
            if (str == null || str.length == 0) {
                return true;
            }
            return false;
        }

        /**
         * Compares the file extension of the file at the specified path to an Array of accepted file extensions.
         * @param {String} filePath - A path to a file.
         * @param {Array} acceptedFileExtensions - An array of accepted file extensions.
         * @returns {boolean} - True if the file has an accepted file extension.
         */
        function fileHasValidExtension(filePath, acceptedFileExtensions) {
            var fileExtension = filePath.split('.').pop();
            if ($.inArray(fileExtension.toLowerCase(), acceptedFileExtensions) != -1) {
                return true;
            }
            return false;
        }

        /**
         * Gets information associated with the Excel workbook worksheets. This information contains the names of the
         * worksheets, the names of the columns in the first worksheet, and column indices that contain HED tags in the
         * first worksheet.
         * @param {Object} workbookFile - An Excel workbook file.
         */
        function getWorksheetsInfo(workbookFile) {
            var formData = new FormData();
            formData.append('spreadsheet_file', workbookFile);
            $.ajax({
                type: 'POST',
                url: "{{url_for('get_worksheets_info')}}",
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (worksheetsInfo) {
                    setComponentsRelatedToWorksheets(worksheetsInfo);
                    flashWorksheetNumberMessage(worksheetsInfo['worksheetNames']);
                    flashSpreadsheetTagColumnCountMessage(worksheetsInfo['tagColumnIndices'],
                        worksheetsInfo['requiredTagColumnIndices']);
                },
                error: function () {
                    flashMessageOnScreen('Spreadsheet could not be processed.', 'error', 'submit-flash');
                }
            });
        }

        /**
         * Flash a message showing the number of worksheets in an Excel workbook.
         * @param {Array} worksheetNames - An array containing the names of Excel workbook worksheets.
         */
        function flashWorksheetNumberMessage(worksheetNames) {
            var numberOfWorksheets = worksheetNames.length.toString();
            flashMessageOnScreen(numberOfWorksheets + ' worksheet(s) found', 'success', 'worksheet-flash');
        }

        /**
         * Gets the spreadsheet columns.
         * @param {Object} spreadsheetFile - A spreadsheet file.
         * @param {String} worksheetName - An Excel worksheet name.
         */
        function getSpreadsheetColumnsInfo(spreadsheetFile, worksheetName) {
            var formData = new FormData();
            formData.append('spreadsheet_file', spreadsheetFile);
            if (typeof worksheetName !== 'undefined') {
                formData.append('worksheet_name', worksheetName);
            }
            $.ajax({
                type: 'POST',
                url: "{{url_for('get_spreadsheet_columns_info')}}",
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (spreadsheetColumnsInfo) {
                    setComponentsRelatedToSpreadsheetColumns(spreadsheetColumnsInfo);
                    flashSpreadsheetTagColumnCountMessage(spreadsheetColumnsInfo['tagColumnIndices'],
                        spreadsheetColumnsInfo['requiredTagColumnIndices']);
                },
                error: function () {
                    flashMessageOnScreen('Spreadsheet could not be processed.', 'error', 'spreadsheet-flash');
                }
            });
        }

        /**
         * Flash a message showing the number of column columns that contain tags.
         * @param {Array} TagColumnIndices - An array containing the indices of the column columns that
         * contain tags.
         */
        function flashSpreadsheetTagColumnCountMessage(TagColumnIndices, requiredTagColumnIndices) {
            var numberOfTagColumns = (TagColumnIndices.length + Object.keys(requiredTagColumnIndices).length).toString();
            if (numberOfTagColumns == '0') {
                flashMessageOnScreen('No tag column(s) found... Using the 2nd column', 'error', 'tag-columns-flash');
            } else {
                flashMessageOnScreen(numberOfTagColumns + ' tag column(s) found', 'success', 'tag-columns-flash');
            }
        }

        /**
         * Sets components related to an Excel worksheet.
         * @param {JSON} worksheetsInfo - A JSON object containing information related to the Excel worksheet. This
         * information contains the names of the worksheets in a workbook, the names of the columns in the first worksheet,
         * and column indices that contain HED tags in the first worksheet.
         */
        function setComponentsRelatedToWorksheets(worksheetsInfo) {
            populateWorksheetSelectbox(worksheetsInfo['worksheetNames']);
            setComponentsRelatedToSpreadsheetColumns(worksheetsInfo);
        }

        /**
         * Hides spreadsheet columns section in the form.
         */
        function hideSpreadsheetColumnNamesTable() {
            $('#column-names').hide();
        }

        /**
         * Shows spreadsheet columns section in the form.
         */
        function showSpreadsheetColumnNamesTable() {
            $('#column-names').show();
        }

        function hideOtherHEDVersion() {
            $('#other-hed-version').hide();
        }

        /**
         * Sets the components related to the Excel worksheet columns.
         * @param {JSON} spreadsheetColumnsInfo - A JSON object containing information related to the spreadsheet
         * columns.
         * This information contains the names of the columns and column indices that contain HED tags.
         */
        function setComponentsRelatedToSpreadsheetColumns(spreadsheetColumnsInfo) {
            if (spreadsheetColumnNamesAreEmpty(spreadsheetColumnsInfo['columnNames'])) {
                setComponentsRelatedToEmptySpreadsheetColumnNames();
            } else {
                setComponentsRelatedToNonEmptySpreadsheetColumnNames(spreadsheetColumnsInfo['columnNames']);
            }
            if (spreadsheetTagColumnsIndicesAreEmpty(spreadsheetColumnsInfo['tagColumnIndices'])) {
                setComponentsRelatedToEmptySpreadsheetTagColumnIndices();
            } else {
                populateTagColumnsTextbox(spreadsheetColumnsInfo['tagColumnIndices']);
            }
            if (dictionaryIsEmpty(spreadsheetColumnsInfo['requiredTagColumnIndices'])) {
                clearRequiredTagColumnTextboxes();
            } else {
                populateRequiredTagColumnTextboxes(spreadsheetColumnsInfo['requiredTagColumnIndices']);

            }
        }

        /**
         * Sets the components related to the spreadsheet columns when they are not empty.
         * @param {Array} columnNames - An array containing the spreadsheet column names.
         * @param {Array} spreadsheetTagColumnIndices - An integer array of tag column indices found in the spreadsheet
         * columns.
         */
        function setComponentsRelatedToNonEmptySpreadsheetColumnNames(columnNames) {
            populateSpreadsheetColumnNamesTable(columnNames);
            setHasColumnNamesCheckboxToTrue();
            showSpreadsheetColumnNamesTable();
        }


        /**
         * Sets the components related to the spreadsheet tag column indices when they are empty.
         */
        function setComponentsRelatedToEmptySpreadsheetTagColumnIndices() {
            $('#tag-columns').val('2');
        }

        /**
         * Sets the components related to Excel worksheet columns when they are all empty.
         */
        function setComponentsRelatedToEmptySpreadsheetColumnNames() {
            clearRequiredTagColumnTextboxes();
            setHasColumnNamesCheckboxToFalse();
            hideSpreadsheetColumnNamesTable();
        }

        /**
         * Sets the spreadsheet has column names checkbox to false.
         */
        function setHasColumnNamesCheckboxToFalse() {
            $('#has-column-names').prop('checked', false);
        }

        /**
         * Sets the spreadsheet has column names checkbox to true.
         */
        function setHasColumnNamesCheckboxToTrue() {
            $('#has-column-names').prop('checked', true);
        }

        /**
         * Populate the Excel worksheet select box.
         * @param {Array} worksheetNames - An array containing the Excel worksheet names.
         */
        function populateWorksheetSelectbox(worksheetNames) {
            var worksheetSelectbox = $('#worksheet');
            var numberOfWorksheetNames = worksheetNames.length;
            worksheetSelectbox.empty();
            for (var i = 0; i < numberOfWorksheetNames; i++) {
                worksheetSelectbox.append(new Option(worksheetNames[i], worksheetNames[i]));
            }
        }

        /**
         * Populate the tag column textbox from the tag column indices found in the spreadsheet columns.
         * @param {Array} tagColumnIndices - An integer array of tag column indices found in the spreadsheet
         * columns.
         */
        function populateTagColumnsTextbox(tagColumnIndices) {
            $('#tag-columns').val(tagColumnIndices.sort().map(String));
        }

        /**
         * Populate the required tag column textboxes from the tag column indices found in the spreadsheet columns.
         * @param {Dictionary} requiredTagColumnIndices - A dictionary containing the required tag column indices found
         * in the spreadsheet. The keys are the column names and the values are the indices.
         */
        function populateRequiredTagColumnTextboxes(requiredTagColumnIndices) {
            for (var key in requiredTagColumnIndices) {
                $('#' + key.toLowerCase() + '-column').val(requiredTagColumnIndices[key].toString());
            }
        }

        /**
         * Checks to see if the spreadsheet columns are empty.
         * @param {Array} columnNames - An array containing the spreadsheet column names.
         * @returns {boolean} - True if the spreadsheet columns are all empty.
         */
        function spreadsheetColumnNamesAreEmpty(columnNames) {
            var numberOfColumnNames = columnNames.length;
            for (var i = 0; i < numberOfColumnNames; i++) {
                if (!isEmptyStr(columnNames[i].trim())) {
                    return false;
                }
            }
            return true;
        }

        /**
         * Checks to see if the spreadsheet tag column indices are empty.
         * @param {Array} tagColumnsIndices - An array containing the tag column indices based on the
         *                columns found in the spreadsheet.
         * @returns {boolean} - True if the spreadsheet tag column indices array is empty.
         */
        function spreadsheetTagColumnsIndicesAreEmpty(tagColumnsIndices) {
            var numberOfTagColumnIndices = tagColumnsIndices.length;
            if (numberOfTagColumnIndices > 0) {
                return false;
            }
            return true;
        }

        /**
         * Checks to see if a dictionary is empty
         * @param {Array} dictionary - A dictionary
         * @returns {boolean} - True if the dictionary is empty. False, if otherwise.
         */
        function dictionaryIsEmpty(dictionary) {
            return Object.keys(dictionary).length == 0;
        }

        /**
         * Populates a table containing the spreadsheet columns.
         * @param {Array} columnNames - An array containing the spreadsheet column names.
         */
        function populateSpreadsheetColumnNamesTable(columnNames) {
            var columnNamesTable = $('#columns-names-table');
            var columnNamesRow = $('<tr/>');
            var numberOfColumnNames = columnNames.length;
            columnNamesTable.empty();
            for (var i = 0; i < numberOfColumnNames; i++) {
                columnNamesRow.append('<td>' + columnNames[i] + '</td>');
            }
            columnNamesTable.append(columnNamesRow);
        }

    </script>
{% endmacro %}